* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 12px;
}

table {
    display: inline-block;
    background-color: #222;
    color: #fff;
    border-collapse: collapse;
}

thead {
    background-color: #555;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #444;
}

td,
th {
    border: 1px solid #999;
    padding: 8px;
}

/* Umieszczenie przycisku w dolnej części strony */
.export-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Zmiana wyglądu przycisku */
.export-button,
.toggle-button {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Efekt przy najechaniu myszką */
.export-button:hover,
.toggle-button:hover {
    background-color: #555;
    transition: background-color 0.2s ease;
}

#chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-table {
    display: inline-block;
}

.results-table.hidden {
    display: none;
}
